option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: awsdjango/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: awsdjango.settings.prod
    SECRET_KEY: "<your-secret-key>"
    ALLOWED_HOSTS: "yourdomain.com,.elasticbeanstalk.com"

# Ensure migrations, superuser creation, and static file collection
container_commands:
  migrate:
    command: "/var/app/venv/*/bin/python manage.py migrate"
    leader_only: true

  makesuper:
    command: "/var/app/venv/*/bin/python manage.py makesuper"

  collectstatic:
    command: "/var/app/venv/*/bin/python manage.py collectstatic --noinput"
